<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>answers</key>
	<array>
		<dict>
			<key>name</key>
			<string>cha8.png</string>
			<key>x</key>
			<string>330</string>
			<key>y</key>
			<string>55</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cha9.png</string>
			<key>x</key>
			<string>103</string>
			<key>y</key>
			<string>59</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cha10.png</string>
			<key>x</key>
			<string>130</string>
			<key>y</key>
			<string>185</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cha11.png</string>
			<key>x</key>
			<string>248</string>
			<key>y</key>
			<string>25</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cha12.png</string>
			<key>x</key>
			<string>181</string>
			<key>y</key>
			<string>106</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cha13.png</string>
			<key>x</key>
			<string>155</string>
			<key>y</key>
			<string>140</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cha14.png</string>
			<key>x</key>
			<string>0</string>
			<key>y</key>
			<string>225</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cha15.png</string>
			<key>x</key>
			<string>188</string>
			<key>y</key>
			<string>256</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cha16.png</string>
			<key>x</key>
			<string>220</string>
			<key>y</key>
			<string>109</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cha1.png</string>
			<key>x</key>
			<string>26</string>
			<key>y</key>
			<string>104</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cha2.png</string>
			<key>x</key>
			<string>120</string>
			<key>y</key>
			<string>63</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cha3.png</string>
			<key>x</key>
			<string>255</string>
			<key>y</key>
			<string>47</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cha4.png</string>
			<key>x</key>
			<string>187</string>
			<key>y</key>
			<string>137</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cha5.png</string>
			<key>x</key>
			<string>2</string>
			<key>y</key>
			<string>77</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cha6.png</string>
			<key>x</key>
			<string>130</string>
			<key>y</key>
			<string>0</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cha7.png</string>
			<key>x</key>
			<string>317</string>
			<key>y</key>
			<string>183</string>
		</dict>
	</array>
</dict>
</plist>
